.hana_blue_700 {color: rgb(0, 112, 109);}
.hana_blue_600 {color: rgb(0, 149, 145);}
.hana_blue_500 {color: rgb(0, 164, 162);}
.hana_blue_400 {color: rgb(81, 181, 181);}
.hana_blue_300 {color: rgb(140, 201, 202);}
.hana_blue_200 {color: rgb(195, 226, 225);}
.hana_blue_100 {color: rgb(235, 245, 245);}

.hana_red_700 {color: rgb(237, 22, 81);}
.hana_red_600 {color: rgb(220, 78, 115);}
.hana_red_500 {color: rgb(241, 159, 181);}
.hana_red_400 {color: rgb(248, 206, 218);}
.hana_red_300 {color: rgb(253, 241, 244);}
.hana_red_200 {color: rgb(127, 127, 127);}
.hana_red_100 {color: rgb(191, 191, 191);}
