$top_margin: 50px;

.dropzone-overlayDiv {
  position: absolute;
  height: calc(100vh - $top_margin);
  width: 100%;
  grid-area: main;
  z-index: 1;
  text-align: center;
  background-color: rgb(232, 161, 204);
}