.sidebar-container{
    width: 100%;
    height: calc(100% - 30px);
}

.sidebar-variable-deck{
    position: relative;
    width: 264px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px !important;
    padding: 7px 0 10px 12px;
    background-color: #f8f8f8;
}

.sidebar-variable-remove {
    position: absolute;
    top: 5px;
    right: 4px;
    width: 8px;
    height: 8px;
    font-size: 11px;
    cursor: pointer;
}

.sidebar-variable-deck-row, .sidebar-deck-option-row{
    height: 20px;
    margin-bottom: 0.25rem;
    margin-top: 0.1em;
    margin-left: 0.5rem;
    padding-right: 4rem;
    padding-left: 10px;
    position: relative;
    border: 1px solid transparent;
    border-color: rgb(143, 168, 252);
    font-size: 11px;
}

.sidebar-deck-option-row{
    padding-right: 4.5rem;
}