/* Style the tab */
.tab {
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: #ffffff;
}

/* Style the buttons inside the tab */
.tab-head {
    writing-mode: vertical-lr;
    font-size: 15px;
    padding: 2px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #f8c5bc;
}
