.node-inner div {
	font-size: 13px;
    font-weight:700;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000000;
    -webkit-text-size-adjust: 100%;
}
.shape-play {
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-left: 10px solid #000000;
	border-bottom: 7px solid transparent;
}

.shape-stop {
    height: 12px;
    width: 12px;
    background-color: #000000;
}