// * {box-sizing: border-box}
// body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    // border: 1px solid #0f0f0f;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    width: 100%;
    height: 100px;
    color: black;
    padding: 5px 5px;
    border: 1px solid #0f0f0f;
    border-style: none solid solid none;
    background-color: inherit;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
// .tabcontent {
//   float: left;
//   padding: 0px 12px;
//   border: 1px solid #ccc;
//   width: 70%;
//   border-left: none;
//   height: 300px;
// }
