.top-head {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
}


.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgb(0, 0, 0);
    opacity: .2;
    
}

.dialog {
    position: absolute;
    color: black;
    display: block;
    width:360px;
    border-radius: 5px;
    padding: 1em;
    background: rgb(255, 255, 255);
    z-index: 100;
}

.dialog-load-project{
    position: absolute;
    color: black;
    display: block;
    width: 845px;
    height: 579px;
    left: 150%;
    top: 10%;
    border-radius: 5px;
    padding: 1em;
    background: rgb(255, 255, 255);
    z-index: 100;
}

.dialog-load-project-header {
    cursor: move;
    display: block;
    margin-left: 10px;
    white-space: nowrap;
    width: 96%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    border-bottom: solid 1px rgb(143, 168, 252);
}

.dialog-load-project-body {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 1% 4% 1% 4%;
    margin-left: 10px;
    width: 96%;
    height: calc(100% - 50px);
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.dialog-title{
    margin-right: 66%;
}


.dialog-load-project-title{
    margin-right: 80%;
}

.dialog-load-project-label{
    margin: 4px 16px 0 0 ;
    display: flex;
    width: 118px;
    font-size: 12px;
    text-align: left;
}


.dialog-load-project-filename {
    width: 72%;
    height: 20px;
    display: flex;
    cursor: default;
    margin: 4px 0px 0px 0px;
    padding-left: 4px;
    border: solid 1px rgb(212, 212, 212);
    color: #888;                                                
    align-items : center;
    font-size: 12px;
}

.dialog-load-project-btn{
    font-size: 12px;
    margin: 0 0 0 12px;
    padding: 0 12px 0 12px;
    height: 20px;
    display: flex;
    align-items : center;
    font-weight: lighter;
    margin: 6px 0px 0px 12px;
    border : solid 1px rgb(212, 212, 212);
}

.dialog-load-project-btn:hover{
    cursor: pointer;
    background-color: rgb(143, 168, 252);
    color: white;
}

.dialog-load-project-btn:active{
    cursor: pointer;
    background-color: rgb(192, 207, 255);
    color: white;
}

.dialog-title-close-btn {
    // margin-left: 20px
}

.dialog-content {
    margin: 9px 1px 1px 20px;
    padding: 10px 0 20px 0;
    width: 86%;
    display: block;
}

.dialog-input-container{
    padding: 0 0 20px 0;
}

.dialog-content input {
    margin-left: 52px;
    width: 231px;
    font-size: 12px;
    font-weight: lighter;
    border: 1px solid #888;
    height: 18px;   
}

.dialog-content span {
    font-size: 12px;
    margin: 0px 0px 8px 2px;
}

.dialog-button-container{
    height: 32px;
    float: right
}

.dialog-button{
    padding: 1px 20px 1px 20px;
    border-radius: 5px;
    border-color: 1px solid rgb(143, 168, 252);
}

.btn-ok{
    background-color: rgb(143, 168, 252);
    color: white;
}

.btn-cancle{
    color: black;
    background-color: white;
}

.context-menu{
    visibility: hidden;
    opacity: 0;
    background-color: #ffffff;
    position: fixed;
    z-index: 5;
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 0.875rem;
    max-width: 250px;
    overflow:auto; 
}

.context-menu li{
    height: 30px;
    padding: 2px;
}

.context-menu li:hover{
    background-color: #d3d3d3;
}


.separate{
    border-bottom: solid 1px rgb(143, 168, 252);
}

.context-menu.open{
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
}