.home-sidebar-project-list {
    position: relative;
    height: calc(100% - 41px);
    max-height: calc(100% - 41px);
    padding: 0 20px 0 20px
}

.home-sidebar-project-list-area {
    padding-top: 10px;
    position: absolute;
    float: left;
    background: #ffffff;
    margin:0 auto;
    display: block;
    border-right: solid 1px rgb(189, 189, 189)
}

.home-sidebar-project-list-item-label {
    font-size: 16px;
    line-height: 32px;
    height: 40px; 
    margin: 0 20px;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 1px rgb(143, 168, 252);;
}

.home-sidebar-project-list-item {
    height: 74px;
    padding-right: 23px;
    padding-left: 20px;
    border-bottom: solid 1px rgb(143, 168, 252);;
    color: rgb(219, 219, 219);
    background-color: #ffffff;
}

.home-sidebar-project-list-item:hover{
    cursor: pointer;
    background-color: #cef1ff;
}

.home-sidebar-project-active{
    padding-left: 16px;
    color: #000000;
    border-left: solid 4px #626fdb;
}
.home-sidebar-project-list-item-model {
    padding-top: 2px;
}

.home-sidebar-project-list-item-model > span {
    margin-right: 4px;
    opacity: .7;
    font-size: 12px;
    color: rgba(0, 0, 0, .7);
}

.arrow {
    border: solid rgb(0, 0, 0);
    border-width: 0 3.5px 3.5px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    left: 260px;
    top: 84px;
    transition: all ease 1s;

}

.arrow:hover{
    cursor: Pointer;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform-origin: center
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform-origin: center
}


.home-sidebar-project-list-container {
    position: relative;
    padding: 0 4px 0 4px;
    top: 12px;
}

.home-sidebar-search-input {
    width: 280px;
    height: 36px;
    margin: 12px auto 12px auto;
    display: block;
    outline: none;
    padding-left: 10px;
    border: 1px solid transparent;
    text-align: left;
    font-size: 12px;
    border-color: rgb(143, 168, 252);
}

.home-sidebar-project-brtc-project-new {
    // content: "+";
    position: absolute;
    margin-top: 6px;
    left: 193px;
    // top: 70px;
    // font-size: 27px;
    // color: #000000
}

.home-sidebar-project-brtp-add-new {
    position: absolute;
    margin-top: 6px;
    left: 221px;
    // top: 77px;
    // font-size: 27px;
    // color: #ff0000
}