.node-inner div {
	font-size: 12px;
    font-weight:100;
    color: #8b8989;
}
.shape-play {
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-left: 10px solid #000000;
	border-bottom: 7px solid transparent;
}

.shape-stop {
    height: 12px;
    width: 12px;
    background-color: #000000;
}