.text-updater-node {
    height: 50px;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 5px;
    background: rgb(236, 230, 186);
  }
  
  .text-updater-node label {
    display: block;
    color: #777;
    font-size: 12px;
  }
  